  .indexMap {
    position: relative;
    width: 100vw;
    height: 560px;
    top: -60px;
  }
  
  @media screen and (max-width: 1300px) {
    .indexMap {
      width: 1290px;
      height: 516px;
    }
  }
  @media screen and (max-width: 1200px) {
    .indexMap {
      width: 1190px;
      height: 476px;
    }
  }
  @media screen and (max-width: 960px) {
    .indexMap {
      width: 950px;
      height: 380px;
    }
  }
  @media screen and (max-width: 640px) {
    .indexMap {
      width: 630px;
      height: 380px;
    }
  }
.SearchBar{
  margin-top: 10px;
 display: flex;
 margin-bottom: 10px;
 justify-content: space-between;
}
.input{
margin-left: 10px;
border-radius: 10px;
display: flex;
}
.button{
margin-right: 15px;
}
.myLocationBtn:hover{
  background-color: gray;
  color:white;
}
.myLocationBtn{
  border-radius: 10px;
}
.searchHospital{
  border: none;
  width: 200px;
  margin-left: 0.3rem;
}
.searchHospital:focus{
  outline: none;
}
.myLocationBtn:focus{
  outline: none;
}
@media screen and (max-width: 380px) {
  .input{
    max-width: 210px;
    margin-left: 5px;
    display: flex;
  }
  .input::placeholder {
    font-size: 13px;
  }
  .button{
    max-width: 130px;
    font-size: 13px;
    margin-right: 15px;
  }
  
}